@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', san-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky{
    padding: 5px 100px;
    background: #011F4b;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: whitesmoke;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: whitesmoke;
}

#head{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5) url('image/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

.header-text{
    text-align: center;
    margin-top: 20%;
    padding: 20px 20px;
    transition: 0.6s;
    color: whitesmoke;
}

.header-text h1{
    font-size: 80px;
}

.header-text button{
    margin-top: 20px;
    padding: 15px 50px;
    border-radius: 30px;
    border-color: black;
    border: solid;
    color: white;
    background-color: transparent;
    cursor: pointer;
}

/*----#test{
    background: url(image/logo.png);
    background-size: cover;
    background-position: center;
}----/*
